@font-face {
    font-family: 'Noto Sans KR Thin';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-Light.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans KR ExtraLight';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-ExtraLight.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans KR Light';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-Light.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans KR Regular';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans KR Medium';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-Medium.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans KR SemiBold';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-SemiBold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans KR Bold';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans KR ExtraBold';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-ExtraBold.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans KR Black';
    src: url('/src/assets/fonts/noto-sans-kr/NotoSansKR-Black.ttf');
    font-style: normal;
    font-weight: normal;
}
